.message-box-success
.message-box-error
	position: fixed
	left: 50%
	top: 50%
	color: #1c1b1f
	font-size: 14px
	padding: 10px 35px 10px 35px
	border-radius: 3px
	box-shadow: 0 0 15px rgba(0,0,0,.2)
	opacity: 1
	transition: opacity 3s
	z-index: 5000
.message-box-success
	max-width: 250px
	background-color: #42BB11
.message-box-error
	max-width: 250px
	background-color: #fff
.message-box-hide
	opacity: 0